<!DOCTYPE html>
<html>
<head>
    <title>Children List</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Children List</h1>
    <a href="/children/new">Add New Child</a>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Date of Birth</th>
                <th>Gender</th>
                <th>Orphanage</th>
                <th>Education Level</th>
                <th>Medical Needs</th>
                <th>Guardian Contact</th>
                <th>Support History</th>
            </tr>
        </thead>
        <tbody>
            <% children.forEach(function(child) { %>
                <tr>
                    <td><%= child.name %></td>
                    <td><%= child.dateOfBirth.toDateString() %></td>
                    <td><%= child.gender %></td>
                    <td><%= child.orphanage.name %></td>
                    <td><%= child.educationLevel %></td>
                    <td><%= child.medicalNeeds.join(', ') %></td>
                    <td><%= child.guardianContact ? child.guardianContact.name + ' (' + child.guardianContact.relationship + ') - ' + child.guardianContact.phone : 'N/A' %></td>
                    <td>
                        <% child.supportHistory.forEach(function(support) { %>
                            <div>
                                <strong><%= support.type %>:</strong> <%= support.description %> (Date: <%= support.date.toDateString() %>)
                            </div>
                        <% }) %>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <a href="/">Back to Home</a>
</body>
</html>
